.content{
    margin-left: 3rem;
    
}

.content a{
    color:#ECEBEB ;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
}

.content a:hover{
    cursor: pointer;
}

a.activeContent{
    
    color:rgb(230, 133, 65);
}

.loginBtn{
    color:#ECEBEB ;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    border: none;
    background-color: inherit;
    margin-left: 3rem;
}

.loginBtn:hover{
    cursor: pointer;
}