.content{
    margin-left: 3rem;
    
}

.content a{
    color:#ECEBEB ;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
}

.content a:hover{
    cursor: pointer;
}

a.activeContent{
    
    color:rgb(230, 133, 65);
}

.loginBtn, .logoutBtn{
    color:#ECEBEB ;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    border: none;
    background-color: inherit;
    margin-left: 3rem;
}

/* .logoutContainer{
    position: relative;
} */

.loginBtn:hover, .logoutBtn:hover{
    cursor: pointer;
}

/* .mail{
    font-size: .5rem;
    color: rgb(230, 133, 65);
    position: absolute;
    top: 0;
    left: 100%;
    top: 8px;

} */